.blue {
  background: #07b0ff;
}
.green {
  background: #1ea3a5;
}
.blue2 {
  background: #0b242b;
}
.blue3 {
  background: #15132b;
}
.green2 {
  background: #8ac746;
}

.black {
  background: #141414;
}
.red {
  background: #e50d2e;
}
.red2 {background: #6f1b2b;}
.purple {
  background: #71535d;
}

.yellow {
  background: #ffea1b;
}

.orange {
  background: #ffc000;
}


.viral {
  background: #ca1e8b;
}

.shaperhouse {
  background: #100f21;
}

.spotissim {
  background: #799eb2;
}

.miaw {
  background: #2a4a77;
}


.mytree {
  background: #78af28;
}

.tagmaster {
  background: #1698bb;
}
