/* line 1, ../../assets/sass/base/colors.scss */
.blue {
  background: #07b0ff;
}

/* line 4, ../../assets/sass/base/colors.scss */
.green {
  background: #1ea3a5;
}

/* line 7, ../../assets/sass/base/colors.scss */
.blue2 {
  background: #0b242b;
}

/* line 10, ../../assets/sass/base/colors.scss */
.blue3 {
  background: #15132b;
}

/* line 13, ../../assets/sass/base/colors.scss */
.green2 {
  background: #8ac746;
}

/* line 17, ../../assets/sass/base/colors.scss */
.black {
  background: #141414;
}

/* line 20, ../../assets/sass/base/colors.scss */
.red {
  background: #e50d2e;
}

/* line 23, ../../assets/sass/base/colors.scss */
.red2 {
  background: #6f1b2b;
}

/* line 24, ../../assets/sass/base/colors.scss */
.purple {
  background: #71535d;
}

/* line 28, ../../assets/sass/base/colors.scss */
.yellow {
  background: #ffea1b;
}

/* line 32, ../../assets/sass/base/colors.scss */
.orange {
  background: #ffc000;
}

/* line 37, ../../assets/sass/base/colors.scss */
.viral {
  background: #ca1e8b;
}

/* line 41, ../../assets/sass/base/colors.scss */
.shaperhouse {
  background: #100f21;
}

/* line 45, ../../assets/sass/base/colors.scss */
.spotissim {
  background: #799eb2;
}

/* line 49, ../../assets/sass/base/colors.scss */
.miaw {
  background: #2a4a77;
}

/* line 54, ../../assets/sass/base/colors.scss */
.mytree {
  background: #78af28;
}

/* line 58, ../../assets/sass/base/colors.scss */
.tagmaster {
  background: #1698bb;
}
